
h1 {
    text-align: center;     /* центролизация */
    margin-top: 40px;
    margin-bottom: 40px;
}

.algorithm {
    margin-top: 50px;   /* Отступ сверху */
    font-size: 30px;    /* Отступ снизу */
}

.photo  {
    display: flex;
    justify-content: center;    /* Центрирует по горизонтали */
    align-items: center;        /* Центрирует по вертикали */
    margin-top: 30px;
}

.button1 {
    display: flex;
    margin-left: 25px;
    margin-right: 25px;
    align-items: center;
    gap: 10px;
    align-items: center;    /* перемещает кпопки вправо */
    justify-content: space-between;     
    
}

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background-color: cadetblue;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    font-size: 18px;
    padding: 0 20px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: darkcyan;
}
